/* Nav.css */
.mobile-nav {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    width: 90%;
    margin: auto;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
  }
  
  .mobile-nav.visible {
    background-color: white;
  }
  